* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.container {
  max-width: 1200px;
}
header {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.29.02\ \(1\).jpeg");
  height: 100vh;
  background-repeat: no-repeat;
}
.icone {
  display: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
}
ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
  transform: 0.5s;
}
ul li:hover::after {
  width: 100%;
}
ul li a:hover {
  color: white;
}
.square {
  height: 300px;
  width: 570px;
  margin: 10% 0 0 10%;
  background-color: transparent;
  border: 2px solid white;
  padding: 3% 0 0 8%;
}
.square h1 {
  color: white;
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#glasses {
  height: 90vh;
}
.twoo {
  margin: 7%;
  height: 100vh;
}
.leader {
  position: relative;
  height: 300px;
  width: 530px;
  padding: 50px 10px 0 40px;
  background-color: white;
  top: -290px;
  left: 450px;
}
.memberr {
  height: 50px;
  width: 87%;
  margin: 7%;
  display: flex;
  justify-content: space-between;
}
button {
  width: 150px;
  background-color: transparent;
  height: 50px;
}
button:hover {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.29.02\ \(1\).jpeg");
  cursor: pointer;
  color: #fff;
}
#members {
  height: 100vh;
  margin: 7%;
}
.col {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.h1:hover {
  opacity: 30%;
  cursor: pointer;
}
.member1 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.28.58.jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}

.member2 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.29.00\ \(1\).jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}
.member3 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.29.00\ \(2\).jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}
.member4 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.28.59.jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}
.member5 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.28.59\ \(1\).jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}
.member6 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.28.57.jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}
.member7 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.29.01.jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}
.member8 {
  background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.29.00\ \(3\).jpeg");
  background-repeat: no-repeat;
  height: 450px;
  width: 23%;
}

footer {
  background-color: black;
  height: 40vh;
  margin: 35% 0 0 0;
 
}
.footer{
  display: flex;
  justify-content: space-between;

}
.menuss{
  display: flex;
  flex-direction: row;
}
.right-end , .iconesss{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  color: white;
}

.right-end .menuss{
display: flex;
flex-direction: row;
}
.rights{
margin-top: 45px;
}
.fly{
  margin-top: 45px;
}
p{
  color: grey;
}

.end {
  margin-left: 30px;
  font-size: 2.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fa-brands,
.fa-solid {
  font-size: 1.6rem;
  margin-top: 15px;
}
.button{
  display: none;
}

@media screen and (max-width: 1024px) {
  .icone {
    display: block;
  }
  .header .row .menu {
    display: none;
  }
  .twoo {
    display: flex;
    flex-direction: column;
  }
  .leader {
    position: static;
  }
  .memberr {
    margin-top: 120px;
  }
  .member1 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.50\ \(1\).jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }

  .member2 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.55.jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .member3 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.51.jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .member4 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.55\ \(1\).jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .member5 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.54\ \(1\).jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .member6 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.53.jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .member7 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.51\ \(1\).jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  .member8 {
    background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.52.jpeg");
    width: 100%;
    height: 200px;
    background-position: center;
  }
  footer{
    margin-top: 140%;
    height: 100vh;
  }
 .twoo .image , .twoo .lead{
  display: flex;
  justify-content: center;
 }
  button{
    display: none;
  }
  .memberr{
    display: flex;
    justify-content: center;
    margin-top: 177px;
  }

  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right-end .row{
    display: flex;
    flex-direction: column;
  }
  
}
  @media screen and (max-width: 767px){
    header{
      background-image: url("./WhatsApp\ Image\ 2023-10-26\ at\ 09.42.52\ \(1\).jpeg");
    }
    footer{
     
      margin-top:190%;
      height: 170vh;
    }
  }
  



